.cartpole-panel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.cartpole-panel .wrapper {
    flex: 1;
    overflow: hidden;
}

.foxglove-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    color: white;
    background-color: #6f3be8;
    font-family: Inter;
    font-size: 0.7rem;
    line-height: 1.75;
    
    padding: 4px 10px;
    border-radius: 2px;
    min-width: 100px;
    cursor: pointer;
    user-select: none;
    outline: 0;
    border: 0;
    margin: 0;
}

.iframe-panel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe-panel iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.iframe-panel .disabled-label {
    font-size: 0.75rem;
    color: #a7a6af;
}

.service-button-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
