.live-stream-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.live-stream-panel.error .error { display: block; }
.live-stream-panel.error .button { display: block; }
.live-stream-panel.error .canvas { display: none; }

.live-stream-panel:not(.error) .error { display: none; }
.live-stream-panel:not(.error) .button { display: none; }
.live-stream-panel:not(.error) .canvas { display: block; }

.error {
    font-size: 1rem;
}

.live-stream-panel .canvas {
    flex: 1;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.live-stream-panel .button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px currentcolor;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-feature-settings: "cv08", "cv10", "tnum";
    text-transform: none;
    font-weight: 700;
    letter-spacing: -0.0125em;
    font-family: Inter;
    font-size: 0.696429rem;
    line-height: 1.75;
    padding: 4px 10px;
    border-radius: 2px;
    color: inherit;
    box-shadow: none;
    transition: none 0s ease 0s;
    background-color: rgb(111, 59, 232);
    color: white;
    min-width: 100px;
}
